# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

DATABASE_URL=postgres://...

# Next Auth
# You can generate the secret via 'openssl rand -base64 32' on Linux
# More info: https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET=aaa
NEXTAUTH_URL=http://localhost:3000

GITHUB_APP_ID=Iv1.a
GITHUB_APP_SECRET=a

EMAIL_SERVER_HOST=smtp.sendgrid.net
EMAIL_SERVER_PORT=465
EMAIL_SERVER_USER=apikey
EMAIL_SERVER_PASSWORD='SG.aaaa'
EMAIL_FROM='Zerve Admin <admin@zerve.app>'

S3_BUCKET=zerve
S3_HOST="https://a.r2.cloudflarestorage.com"
S3_ACCESS_KEY_ID=a
S3_SECRET_ACCESS_KEY=a

NEXT_PUBLIC_MEDIA_HOST="https://content.zerve.app"

STRIPE_SECRET_KEY=a
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=a
STRIPE_WEBHOOK_SECRET=a

LINODE_TOKEN=a

OPAQUE_KEY=a
