# my deepest apologies because this makes the repo VERY HEAVY:
#
# this offline cache is intentionally checked in to the repository, in order to reduce yarn install time in builds:
yarn-offline-mirror "./yarn-package-cache"
#
# for this reason you are encouraged to shallow-clone the repository and avoid downloading old packages
# git clone --depth=1 git@github.com:zerve-app/zerve.git
#
# finally this helps enable local development because you can run `yarn --frozen-lockfile` without hitting the network
#
# you can also run `yarn clean` to wipe out all node_modules in the repo
