/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #7b2e85;
  --ifm-color-primary-dark: #6f2978;
  --ifm-color-primary-darker: #692771;
  --ifm-color-primary-darkest: #56205d;
  --ifm-color-primary-light: #873392;
  --ifm-color-primary-lighter: #8d3599;
  --ifm-color-primary-lightest: #a03cad;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #e97aff;
  --ifm-color-primary-dark: #e667ff;
  --ifm-color-primary-darker: #e354ff;
  --ifm-color-primary-darkest: #dd2fff;
  --ifm-color-primary-light: #efa0ff;
  --ifm-color-primary-lighter: #f2b3ff;
  --ifm-color-primary-lightest: #f5c5ff;
}
