hades.main.zerve.dev {
  reverse_proxy http://localhost:9988
}

dev.zerve.app {
  tls {
    dns cloudflare {env.CLOUDFLARE_AUTH_TOKEN}
  }
  route /.z* {
    reverse_proxy http://localhost:9920
  }
  reverse_proxy http://localhost:9921
}